@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --main: #5d6444;
  --dark: #16190D;
  --light: #4E5633;
  --red: #752222;
  --water: #226975;
}

@font-face {
  font-family: "press";
  src: url("assets/fonts/PressStart2P-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "press", sans-serif;
}

body {
  background-color: var(--main);
  color: var(--dark);
  height: 100vh;
}

.page-2,
.page-3,
.page-4{
  display: none;
}

.page-3{
  padding-top: 5%;
  padding-bottom: 35%;
}

.btn:hover{
  color: #98a086;
}

.container{
  display: flex;
}

.box{
  width: 50px;
  height: 50px;
  background-color: var(--main);
  border: 1px solid black;
}

.box:hover{
  background-color: var(--light);
}

.ship,
.water{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.ship{
  color: var(--red);
}

.water{
  color: var(--dark);
}

.ship:hover{
  background-color: rgb(90, 90, 90);
}

